@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
       url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy'),
       url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans'),
       url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000;
  background-color: #fff;
}

/* index */

/* header */
.header-main {
  background-color: #f7e296;
}

.header-scope__search {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  background-color: #f7e296;
  color: #000;
  border: none;
  opacity: 0.3;
}

.header-scope__search:hover {
   opacity: 0.6;
}

.header-scope__search:focus {
  color: #000;
}

.header-scope__input {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  background-color: #f7e296;
  color: #000;
  border: 1px solid #000;
}

.header-scope__input:hover {
  background-color: #000;
  color: #dc0913;
}

.header-scope__input:active {
  color: #747474;
}

.header-scope__list {
  list-style: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #000;
}

.header-scope__link {
  text-decoration: none;
  color: #000;
}

.header-scope__link:hover {
  opacity: 0.6;
}
.header-scope__link:active {
  opacity: 0.3;
}

.main-nav__list {
  list-style: none;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.main-nav__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.main-nav__link:hover {
  opacity: 0.6;
}

.main-nav__link:active {
  opacity: 0.3;
}

.main-nav__list--nested {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
}

.main-nav__list--nested .main-nav__link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  text-transform: none;
}

/* main-content */
/* slider блок goods*/

.goods__text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.goods__desk {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000;
}

.btn {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.goods__line .goods__cell {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

.goods__line:nth-child(2) .goods__cell {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #464646;
}

/* блок products */

.products__list {
  list-style: none;
}

.products__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-decoration: none;
  color: #000;
}

/* блок servis */

.services__control {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  text-transform: uppercase;
}

.services__control:active {
  color: #f7e184;
}

.services__list {
  list-style: none;
}

.services__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.services__text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

/* блок information-company */

.information-company__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.information-company__text {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;
}

.information-company__list {
  list-style: none;
}

.information-company__item {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
}

/* footer  */

.footer-main {
  background-color: #464646;
}

/* блок additional-information */

.additional-information__list {
  list-style: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
}

.additional-information__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

.additional-information__link:hover {
  color: #fff;
}

.additional-information__link:active {
  color: rgba(255, 255, 255, 0.3);
}

/* блок address */

.address__text,
.address__link {
  list-style: none;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #fff;
  text-decoration: none;
}

.main-nav--footer .main-nav__link {
  color: #fff;
}


/* стилизация модальных окон */

.modal__text {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.modal__input {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300;
  color: #464646;
  background-color: #f2f2f2;
  border: none;
  opacity: 0.4;
}
.название класса input::-webkit-input-placeholder {color:#c0392b;}
.название класса input::-moz-placeholder {color:#c0392b;}/* Firefox 19+ */
.название класса input:-moz-placeholder {color:#c0392b;}/* Firefox 18- */
.название класса input:-ms-input-placeholder {color:#c0392b;}

.modal__input:hover {
  background-color: #eaeaea;
}

.modal__input:focus {
  background-color: #fff;
  border: 2px solid #f7e296;
  color: #464646;
}

.modal__lower .modal__send {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
  padding: 0;
  border: none;
}

/* стилизация device-catalog */

.main-content__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
}

.breadcrumbs__list {
  list-style: none;
}

.breadcrumbs__link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.breadcrumbs__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs__link:active {
  color: rgba(0, 0, 0, 0.1);
}

.catalog-filter__title,
.sorting__title {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 5px;
  font-weight: 800;
  text-transform: uppercase;
}

.catalog-filter__legent {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.min-price,
.max-price {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
}

.catalog-filter__desk {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 40px;
  font-weight: 300;
}

.sorting__list {
  list-style: none;
}

.sorting__link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting__link:active {
  color: #000;
}
.sorting__item:first-child .sorting__link {
  color: #000;
}

.catalog-products__title .catalog-products__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000;
  text-decoration: none;
}

.catalog-products__text {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
 color: #464646;
}

.catalog-products__actions .catalog-products__link {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  font-weight: 300;
  text-decoration: none;
  color: #000;
  opacity: 0.5;
}

.catalog-products__actions .catalog-products__link:hover {
  opacity: 1;
}

.catalog-products__actions .catalog-products__link:active {
  opacity: 0.2;
}

.paginator__link {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  text-decoration: none;
  color: #000;
  opacity: 0.3;
}

.paginator__link--curent {
  color: #000;
  opacity: 1;
}

.paginator__link--prev,
.paginator__link--next {
  text-transform: uppercase;
  opacity: 1;
}

.paginator__link--prev:hover,
.paginator__link--next:hover {
  background-color: #d9d9d9;
}

.paginator__link--prev:active,
.paginator__link--next:active {
  color: rgba(0, 0, 0, 0.3);
}

.paginator__list {
  list-style: none;
}
